@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso大学</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到Contoso大学</h2>
        <p>
            Contoso大学是一个用来演示如何在ASP.NET MVC 5应用程序中使用Entity Framework 6 的简单应用程序。
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scatch</h2>
        <p>You can build the application by following the steps in the tutorial serise on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>